Source: huayra-drivers-common
Section: admin
Priority: optional
Maintainer: Ignacio Losiggio <iglosiggio@gmail.com>
Build-Depends: debhelper (>= 9),
 po-debconf,
 dh-systemd,
 python3-all (>= 3.2),
 python3-setuptools,
 libpciaccess-dev (>= 0.12.1-2),
 lib32gcc1 [amd64], libc6-i386 [amd64],
 linux-libc-dev,
 pkg-config,
 aptdaemon,
 python3-aptdaemon.test (>= 0.43+bzr810-0ubuntu2~),
 python3-gi,
 gir1.2-glib-2.0,
 gir1.2-umockdev-1.0,
 umockdev,
 alsa-utils,
 apt-utils,
 dbus,
 udev,
 pciutils,
 libdrm-dev,
 python3-dbus
Standards-Version: 3.9.8
Vcs-Git: git://github.com/iglosiggio/huayra-drivers-common.git
Vcs-Browser: https://github.com/iglosiggio/huayra-drivers-common
X-Python3-Version: >= 3.2

Package: huayra-drivers-common
Architecture: any
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: ${python3:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
 debconf (>= 0.5.00) | debconf-2.0,
 pciutils,
 python3-apt,
 udev (>= 204-0ubuntu4~),
 pciutils,
 usbutils,
 alsa-utils,
 kmod | module-init-tools,
Suggests: python3-aptdaemon.pkcompat
Description: Detect and install additional Huayra driver packages
 This package aggregates and abstracts Huayra specific logic and knowledge
 about third-party driver packages. It provides:
 .
  - a Python API for detecting driver packages for a particular piece of
    hardware or the whole system.
 .
  - an "huayra-drivers" command line tool to list or install driver packages
    (mostly for integration in installers).

Package: dh-modaliases
Architecture: all
Depends: ${perl:Depends},
 ${misc:Depends}
Enhances: debhelper
Description: debhelper extension for scanning kernel module aliases
 dh_modaliases is useful for packages that ship third-party kernel modules,
 either in binary form, or as sources (with e. g. DKMS). It extracts the
 modules' modaliases from either the compile .ko files themselves (for packages
 which ship them in compiled form, using modinfo), or from a package file
 debian/packagename.modaliases.
 .
 This enables software which is looking for missing driver packages (such as
 Jockey or the operating system installer) to identify which package(s) will
 provide a driver for a piece of hardware, identified by its modalias.

